<?xml version='1.0' encoding='utf-8'?>
<widget id="io.tts" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>TextToSpeech</name>
    <description>Sample Apache Cordova App for Ai chat Bot on the go.</description>
    <author email="random.mail.org" href="https://random.domain.org">
        Aritracode.
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
